@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body {
    font-family: 'Nanum Gothic', sans-serif;
    background: #c9d6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #e2e2e2,
        #c9d6ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #e2e2e2,
        #c9d6ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-container {
    width: 100%;
    text-align: center;
}
.elementos {
    width: 100%;
    text-align: center;
}
.lista-elementos {
    list-style: none;
}
.lista-elementos li {
    margin: 20px;
}
.eliminar-elemento {
    color: #f00;
    margin: 10px;
    cursor: pointer;
}
.eliminar-elemento:hover {
    color: crimson;
}
